{{sidebar-menu}}
<input type="checkbox" id="nav-trigger" class="nav-trigger" />

<div class="overlay"></div>

<nav class="navigation menu">
  <ul>
  <li>{{link-to 'Events' 'choices'}}</li>
  <li>{{link-to 'Add event' 'create-event'}}</li>
  <li>{{link-to 'My Choices' 'my-choices'}}</li>
  <li>{{link-to 'My Profile' 'profile'}}</li>
  {{#if session.isAuthenticated}}
    <li><a href="#" {{action "signOut"}}>Sign out</a></li>
  {{/if}}
  </ul>
</nav>

<label for="nav-trigger" class="menu-btn">
  <a class="button">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </a>
</label>

<div class="site-wrap">
  <header>
    <div class="logo">
      <img src="/img/logo.png" />
    </div>


  </header>

  {{outlet}}
</div>
