{{sidebar-menu}}
<input type="checkbox" id="nav-trigger" class="nav-trigger" />

<div class="overlay"></div>

<nav class="navigation menu">
  <ul>
  {{#if session.isAuthenticated}}
    <li><a {{action "signOut"}}>Sign out ({{session.currentUser.displayName}})</a></li>
  {{else}}
    <li><a {{action "signIn" "facebook"}}>Sign in with Facebook</a></li>
  {{/if}}
  <li>{{link-to 'Choices' 'choices'}}</li>
  <li>{{link-to 'Profile' 'profile'}}</li>
  <li>
     {{link-to 'My Choices' 'my-choices'}}
  </li>
  <li>
    {{link-to 'Create an Event' 'create-event'}}
  </li>
  </ul>
</nav>

<label for="nav-trigger" class="menu-btn">
  <a class="button">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </a>
</label>

<div class="site-wrap">
  <header>
    <h1>SINXE</h1>
  </header>

  {{outlet}}
</div>
