{{outlet}}
<h2>Create a New Event</h2>
<ul class="event-publish">
  <li>
    {{input value=restaurantName placeholder="restro name"}}
  </li>
  <li>
    {{input value=address placeholder="address"}}
  </li>
  <li>
    {{input value=time placeholder="time"}}
  </li>
  <li>
    {{input value=category placeholder="category"}}
  </li>
  <li>
    <button {{action "publishEvent"}}>Publish</button>
  </li>
</ul>
