{{jquery-date}}

<div class="form">

  <h2>Add new event</h2>

  {{place-autocomplete-field
    value=restaurant
    handlerController=this
    inputClass='pac-input'
    focusOutCallback="done"
    placeChangedCallback="placeChanged"
    placeholder="Restaurant Name"
    types='establishment'
    withGeoLocate=true
  }}

  {{input value=address placeholder="Address" class="address-input"}}

  <div class="map-preview preview">
    <div id="map" style="height:200px;"></div>
  </div>

  {{input value=date placeholder="Date" class="date-dropper"}}

  {{input value=time placeholder="Time" class="time-dropper"}}

  {{input value=website placeholder="Website" class="hide"}}

  {{input value=category placeholder="Category" class="category-input"}}

  <div class="image-preview preview">
    <img class="image-input" />
    <small><i>Image via Google Places</i></small>
  </div>

  <input id="place-id" style="display:none;">

  <button {{action "publishEvent"}} class="btn">Publish</button>

</div>
