{{outlet}}


<div class="form">
  <h3>{{model.name}}</h3>
  <img src="{{model.photoUrl}}" class="avatar center">

  <div class="select">
    <select onchange={{action (mut model.occupation) value="target.value"}}>
      <option value="" hidden>Position</option>
      {{#each positionList as |position index|}}

        <option value={{model.occupation}} disabled="disabled" selected={{if (is-equal model.occupation (math index "+" 1)) 'selected' ''}}>{{position.name}}</option>
      {{/each}}
    </select>
  </div>

  {{textarea value=model.bio disabled="disabled" placeholder="Bio"}}
</div>
