<div class="user-profile">
  <div class="profile" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(36, 41, 63, 0.8) 100%), url({{model.photoUrl}})">
    <img src="{{model.photoUrl}}" class="avatar">
    <h2>{{model.name}}</h2>
  </div>

  <div class="form">
    <label>Occupation area</label>
    <p>{{model.occupation}}</p>

    <label>About me</label>
    <p>{{model.bio}}</p>

    <a href="https://facebook.com/{{model.facebookId}}" class="btn">
      <span class="fa fa-facebook"></span> View profile
    </a>
  </div>
</div>
